.ContentWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100%;
  margin-top: 100vh;
  background-color: inherit;
}

.Content {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.Footer {
  padding: 1rem 0;
  background-color: #f3f6f9;
  a {
    color: #3f6c9e;
  }
}

.Icon {
  width: 28px;
  height: 28px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.ResponsiveImage {
  max-width: 100%;
  height: auto;
}

.Intro {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}

.Slide-ScrollArea {
  margin: 1.5rem 0;
  @media (min-height: 560px) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
}

.TopHref {
  position: absolute;
  top: 0;
  left: 0;
}

.SubTitle {
  font-size: 1.5rem;
  font-weight: 300;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 6px;

  @media (max-width: 350px) {
    font-size: 1.25rem;
  }
}

.Title {
  font-size: 2rem;
  font-weight: normal;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 6px;
}

.TitleImage {
  border: 3px solid #fff;
  border-radius: 100%;
  box-shadow: 0 0 12px rgba(0,0,0,.5);
}

.Prose {
  max-width: 74ch;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.75;
}

/* Buttons
   ========================================================================== */

.Button {
  display: inline-flex;
  align-items: center;
  padding: .5rem 1rem;
  border: 3px solid $c-brand;
  border-radius: 32000px;
  background-color: $c-brand;
  color: $c-bg;
  line-height: 1;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }

  @media screen and (prefers-color-scheme: dark) {
    border: 3px solid $c-brand-bright;
    background-color: $c-brand-bright;
  }
}

.OutlineButton {
  @extend .Button;
  background-color: transparent;
  color: $c-brand;

  @media screen and (prefers-color-scheme: dark) {
    color: $c-brand-bright;
  }
}

.InvertedOutlineButton {
  @extend .OutlineButton;
  border-color: $c-bg;
  color: $c-bg;
}

.IconButton {
  @extend .Button;
  margin: 0 .25rem;
  padding: 1rem;
  border-color: #fff;
  border-radius: 100%;
  background-color: $c-bg;
  color: $c-fg;

  @media (max-width: 325px) {
    padding: 0.875rem;
  }
}

.OutlineIconButton {
  @extend .IconButton;
  background-color: transparent;
  color: $c-bg;
}

.SkipContent {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: auto;
  height: auto;
  z-index: 1;
}

.VisuallyHiddenFocusable {
  &:not(:focus):not(:focus-within) {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }
}

/* Animations
   ========================================================================== */

.Animation {
  animation-play-state: paused;

  &.running {
    animation-play-state: running;
  }
}

.FadeIn {
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  opacity: 0;
}

.FadeInBottom {
  animation-name: fadeInBottom;
  animation-fill-mode: forwards;
  opacity: 0;
}

.FadeInLeft {
  animation-name: fadeInLeft;
  animation-fill-mode: forwards;
  opacity: 0;
}

.FadeInRight {
  animation-name: fadeInRight;
  animation-fill-mode: forwards;
  opacity: 0;
}

.ZoomIn {
  animation-name: zoomIn;
  animation-fill-mode: forwards;
  opacity: 0;
}
