@media screen and (prefers-color-scheme: dark) {
  a {
    color: $c-brand-bright;
  }
  .c-text { color: #fff; }
  .bg-default { background-color: #333639; }
  .Footer {
    background-color: #232629;
    a {
      color: $c-brand-bright;
    }
  }
}
