.hidden { display: none; }

.my-1 { margin-top: 1rem; margin-bottom: 1rem; }

.bg-brand { background-color: $c-brand; }
.c-brand-text { color: $c-brand-text}

.leading-1 { line-height: 1; }
.leading-2 { line-height: 1.25; }
.leading-3 { line-height: 1.50; }
.leading-4 { line-height: 1.75; }
.text-right { text-align: right; }