---
import '../global.css'

import ArrowDownIcon from '../components/icons/arrow-down.astro'
import GithubIcon from '../components/icons/github.astro'
import LinkedinIcon from '../components/icons/linkedin.astro'
import MailIcon from '../components/icons/mail.astro'
import TwitterIcon from '../components/icons/twitter.astro'
import IconButton from '../components/icon-button.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Ronny Haase &bull; Lead Frontend / Full-Stack Software Engineer &amp; Software Architect</title>
		<meta name="description" content="Hi, I'm Ronny! I am a Frontend / Full-Stack Software Engineer & -Architect with 15+ years of experience building highly scalable web-based solutions." />
		<meta property="og:title" content="Ronny Haase ∙ Lead Frontend / Full-Stack Software Engineer & -Architect" />
		<meta property="og:description" content="Hi, I'm Ronny! I am a Frontend / Full-Stack Software Engineer & -Architect with 15+ years of experience building highly scalable web-based solutions." />
		<meta property="og:url" content="https://ronnyhaase.com" />
		<meta property="og:image" content="https://ronnyhaase.com/images/ronnyhaase-preview-1200.jpg" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:description" content="Ronny Haase ∙ Lead Frontend / Full-Stack Software Engineer & -Architect with 15+ years of experience building highly scalable web-based solutions." />
		<meta name="twitter:image" content="https://ronnyhaase.com/images/ronnyhaase-preview-1200.jpg" />
		<meta name="twitter:image:alt" content="Ronny Haase ∙ Lead Frontend / Full-Stack Software Engineer & -Architect" />
		<meta name="twitter:site" content="@ronnyhaase" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, viewport-fit=cover" />
		<meta name="msvalidate.01" content="F61A93D2330E05629E3CE2D98AC9C739" />
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
	</head>
	<body class="bg-brand bg-noise text-base md:text-lg text-white">
		<a id="top" class="absolute top-0 left-0"></a>
		<a
			href="#main-content"
			class="sr-only focus:not-sr-only text-white"
		>
			Skip to content
		</a>
		<nav id="intro" class="fixed left-0 top-0 w-full min-h-screen flex flex-col items-center justify-center overflow-hidden">
			<div class="grow flex flex-col items-center justify-center">
				<h1
					class="text-5xl font-light leading-normal drop-shadow-lg shadow-black animate-fade-in-left animate-duration-1000 animate-paused"
					style="text-shadow: 1px 1px 6px #0009;"
				>
					Ronny Haase
				</h1>
				<div class="animate-fade-in-right animate-duration-1000 animate-paused">
					<h2
						class="text-2xl font-light leading-tight"
						style="text-shadow: 1px 1px 6px #0009;"
					>
						Software Engineer &amp; -Architect
					</h2>
					<h3 class="text-xl">
						Building great software and teams.
					</h3>
				</div>
				<img
					id="profile-image-jonnie"
					class={
						'my-4 rounded-full border-2 border-white shadow-md shadow-black' +
						' animate-fade-in-bottom animate-duration-1000 animate-paused'
					}
					alt="Ronny Avatar (Jonnie #3 by Kiki & Mozart)"
					src="/images/jonnie3.jpg"
					width="384"
					height="384"
				/>
				<ul class="flex">
					<li>
						<IconButton
							as="a"
							href="https://github.com/ronnyhaase"
							title="Github"
							effects={true}
							className="opacity-0 animate-zoom-in animate-duration-750 animate-delay-250 animate-paused"
						>
							<GithubIcon className="w-7 h-7 stroke-2 stroke-white fill-none" />
						</IconButton>
					</li>
					<li>
						<IconButton
							as="a"
							href="https://linkedin.com/in/ronnyhaase"
							title="LinkedIn"
							effects={true}
							className="opacity-0 animate-zoom-in animate-duration-750 animate-delay-500 animate-paused"
						>
							<LinkedinIcon className="w-7 h-7 stroke-2 stroke-white fill-none" />
						</IconButton>
					</li>
					<li>
						<IconButton
							as="a"
							href="https://twitter.com/ronnyhaase"
							title="Twitter"
							effects={true}
							className="opacity-0 animate-zoom-in animate-duration-750 animate-delay-750 animate-paused"
						>
							<TwitterIcon className="w-7 h-7 stroke-2 stroke-white fill-none" />
						</IconButton>
					</li>
					<li>
						<IconButton
							as="a"
							href="mailto:ronnyhaase@duck.com"
							title="E-Mail"
							effects={true}
							className="opacity-0 animate-zoom-in animate-duration-750 animate-delay-1000 animate-paused"
						>
							<MailIcon className="w-7 h-7 stroke-2 stroke-white fill-none" />
						</IconButton>
					</li>
				</ul>
			</div>
			<a
				href="#main-content"
				title="Skip to content"
				class="inline-flex m-1 mb-3 p-2 border-2 border-white rounded-full bg-white shadow-md shadow-black opacity-0 animate-fade-in animate-duration-500 animate-delay-1500 animate-paused"
			>
				<ArrowDownIcon className="w-7 h-7 stroke-2 stroke-foreground fill-none" />
			</a>
		</nav>
		<div class="relative flex flex-col min-h-screen mt-[100vh] bg-background dark:bg-gray-dark text-foreground dark:text-white">
			<main id="main-content" class="container grow flex items-center py-4">
				<div class="max-w-prose leading-loose mx-auto">
					<div class="text-center">
						<img
							id="profile-image-jonnie"
							class={
								'inline my-4 rounded-full border-2 border-white shadow-md shadow-black'
							}
							alt="Ronny Avatar (Jonnie #3 by Kiki & Mozart)"
							src="/images/ronnyhaase.jpg"
							width="192"
							height="192"
						/>
					</div>
					<p class="mb-2">Hi, I'm Ronny!</p>
					<p class="mb-2">
						I'm developing reliable, maintainable and scalable web based solutions for more than 15
						years with focus but by no means limited to front-end engineering, and built and lead
						great teams to do the same.
					</p>
					<p class="mb-2">
						I offer excellent knowledge and multiple years of experience with designing, developing,
						testing and optimizing highly-scalable web solutions as well as enabling teams to be
						productive & motivated, and grow personally and professionally.
					</p>
					<p class="mb-2">
						I've been working and consulting for companies at different stages (early-stage Startup to
						publicly listed corporations), as well as products (MVP to massive scale), and agile teams
						of different size and experience. I've been giving presentations, training and mentorship
						on front-end and software-architecture topics either in general or for concrete projects.
					</p>
				</div>
			</main>
			<footer class="py-4 bg-gray-bright dark:bg-gray-darker">
				<div class="container">
					
					<div class="max-w-prose mx-auto">
						<p class="mb-2">Copyright &copy; Ronny Haase, 2011-2023</p>

						<p class="mb-2 text-sm">
							The <a href="https://github.com/ronnyhaase/ronnyhaase.com">code of this website</a> is
							open source under GPL v3 or later.
						</p>

						<p class="mb-2">
							<a href="#top">Back to Top</a>
						</p>

						<p class="mb-2">
							<a href="https://github.com/ronnyhaase">GitHub</a> &bull;
							<a href="https://linkedin.com/in/ronnyhaase">LinkedIn</a> &bull;
							<a href="https://twitter.com/ronnyhaase">Twitter</a>
						</p>

						<p class="mb-2 text-sm">
							This site sets no cookies and only does tracking that is absolutely anonymous and 100% GDRP,
							CCPA & PECR compliant.
						</p>
					</div>
				</div>
			</footer>
		</div>
		<script src="../scripts.js"></script>
	</body>
</html>
