footer.Footer
  div.container
    p Copyright &copy; Ronny Haase, 2011-2019
    p
      small The
        a(href="https://github.com/ronnyhaase/ronnyhaase.com") &nbsp;code of this website is
        | &nbsp;open source under GPL v3 or later.
    p
      a(href="#top") Back to Top
    p
      a(href="https://github.com/ronnyhaase") GitHub
      | &nbsp;&bull;&nbsp;
      a(href="https://linkedin.com/in/ronnyhaase") LinkedIn
      | &nbsp;&bull;&nbsp;
      a(href="https://twitter.com/ronnyhaase") Twitter
    p
     small.
       This site uses Google Analytics, anonymizing your IP and without cookies,
       and only to analyze page views.<br>
       <del style="text-decoration: line-through">If you enabled Do Not Track,
       you won't get tracked at all.</del>
