---
const { className } = Astro.props
---

<svg
  viewBox="0 0 24 24"
  preserveAspectRatio="none"
  role="img"
  aria-labelledby="icon-title-arrowdown"
  class={className}
>
  <title id="icon-title-arrowdown">Arrow Down Icon</title>
  <line x1="12" y1="5" x2="12" y2="19"></line>
  <polyline points="19 12 12 19 5 12"></polyline>
</svg>
