main#main-content.Content.bg-default
  div.Container
    div.my-2.text-right
      a.OutlineButton(href="static/CV-ronnyhaase.pdf", data-analytics="{\"goal\":\"CV click\"}")
        svg.Icon(role="img", aria-labelledby="icon-title-downloadcv")
          title#icon-title-downloadcv Text File icon
          use(xlink:href="static/feather-sprite.svg#file-text")
        span Download my CV (PDF)
    div.Prose
      p Hi, I'm Ronny!
      p.
        I'm developing reliable, maintainable and scalable web based solutions for
        more than 10 years with focus but by no means limited to front-end
        engineering, and built and lead great teams to do the same.
      p.
        I offer excellent knowledge and multiple years of experience with designing,
        developing, testing and optimizing highly-scalable web solutions as well as
        enabling teams to be productive &amp; motivated, and grow personally and
        professionally.
      p.
        I've been working and consulting for companies at different stages
        (early-stage Startup to publicly listed corporations), as well as products
        (MVP to massive scale), and agile teams of different size and experience.
        I've been giving presentations, training and mentorship on front-end and
        software-architecture topics either in general or for concrete projects.
