script.
  // Run animations when DOM ready
  document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll('#intro .Animation').forEach(el => {
      el.classList.add('running')
    })
  });
