/* noto-sans-300 - latin */
@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/noto-sans-v27-latin-300.woff2') format('woff2'),
       url('/fonts/noto-sans-v27-latin-300.woff') format('woff');
}

/* noto-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/noto-sans-v27-latin-regular.woff2') format('woff2'),
       url('/fonts/noto-sans-v27-latin-regular.woff') format('woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-link dark:text-link-dark;
  }
}
