doctype html
html(lang="en")
  include _head.pug
  body#top
    a.SkipContent.InvertedOutlineButton.VisuallyHiddenFocusable(href="#main-content") Skip to Content
    include _intro.pug
    include _about.pug
    include _footer.pug
    include _scripts.pug
